body {
    margin: 0;
    padding: 0;
}

.link{
    font-size: 30px;
    text-decoration: none;
    margin: 0 30px;
    color: #ff8800;
}

.link-special{
    font-size: 40px;
    text-decoration: none;
    margin: 40 40px;
    color: #ffa034;
}

#aboutme{
    padding: 50px;
    color:#000000;
    background-color: rgb(255, 136, 0);
    position: relative;
    z-index: 3;
    border-radius: 50px;
    box-shadow: 0 20px 50px 20px rgba(255, 136, 0, 0.5); /* Параметры: смещение по X, смещение по Y, размытие, размер свечения и цвет */
}
#aboutme2 {
   
}
#aboutme3 {
   
}
#aboutme4 {
   
}
#aboutme5 {
   
}

p {
    font-size: large;
}
nav{
    border: 1px solid #ff8800;
    margin: 10px 10px;
    border-radius: 10px;
    width: calc(100% - 100px);
    color: #d3d3d3;
    background-color: #424242;
    display: flex;
    align-items: center;
    height: 60px;
    /*position: fixed;*/
}
.container {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: -100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  h2 {
    animation-duration: 2s;
    animation-name: slidein;
    size: 30px;
  }
  
  @keyframes slidein {
    from {
      margin-left: -100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  p {
    animation-duration: 2s;
    animation-name: slidein;
    size: 30px;
  }
  
  @keyframes slidein {
    from {
      margin-left: -100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.content {
    text-align: top;
    padding: 20px;
}

.container2 {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.content2 {
    position: absolute;
    top: 0;
    left: 980px; /* сдвигаем текст вправо */
    width: calc(50% - 100px); /* Текст будет занимать правую половину контейнера за вычетом сдвига */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.content3 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    z-index: 2;
    text-align: center;
}

.container4 {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}


.content4 {
    position: relative;
    z-index: 2;
    text-align: center;
}

.content4 h1 {
    margin-top: 20px;
}

.content-special {
    color: rgb(0, 0, 0);
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    margin: 0 50px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button img {
    width: 400px;
    margin-bottom: 5px;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

.center{
    display: flex;
    justify-content: center;
}

.textcenter{
    text-align: center;
}

.cardbtn{
    text-decoration: none;
    width: 700px;
    display: block;
    margin: 0 150px;
}

.card{
    margin-top: 170px;
    width: 750px;
    background-color: rgb(196, 196, 196);
    padding: 50px ;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#slide1, #slide5 {
    background: linear-gradient(to bottom left, #555555, #202020);
}

#slide2 {
    background: linear-gradient(to bottom right, #202020, #555555);
}

#slide3 {
    background: linear-gradient(to bottom left, #555555, #202020);
}
#slide4 {
    background: linear-gradient(to top left, #555555, #202020);
}
#slide6 {
    background: linear-gradient(to top left, #555555, #202020);
}

.first-slide-right-image {
    background-image: url('pilatus-removebg.png');
    /* Задаем размер и позицию фоновой картинки */
    background-size: cover;
    background-position: right;
    /* Задаем размеры и позиционирование элемента */
    position: absolute;
    top: 0;
    right: 20px;
    width: 50%;
    height: 100%;
    /* Указываем z-index, чтобы картинка была под контентом */
    z-index: 1;
}

.second-slide-image {
        background-image: url('Zurich.jpg');
        border-radius: 100%;
        /* Задаем размер и позицию фоновой картинки */
        background-size: cover;
        background-position: left;
        /* Задаем размеры и позиционирование элемента */
        position: absolute;
        top: 20px;
        left: 20px;
        width: 45%;
        height: 90%;
        
        /* Указываем z-index, чтобы картинка была под контентом */
        z-index: 1;
        box-shadow: 0 20px 50px 20px rgba(255, 255, 255, 0.5); /* Параметры: смещение по X, смещение по Y, размытие, размер свечения и цвет */
}

.third-slide-image {
    background-image: url('upscaled_image.png');
    /* Задаем размер и позицию фоновой картинки */
    background-size: cover;
    background-position: center;
    /* Задаем размеры и позиционирование элемента */
    position: absolute;
    top: 0;
    left: 120px;
    width: 90%;
    height: 90%;
    /* Указываем z-index, чтобы картинка была под контентом */
    z-index: 1;
}
